
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAllEmployeesFromWebAPIServerSide</title>
</head>
<body>
    <div>
        <p>@ViewBag.employeeRecord.employeeid</p>
        <p>@ViewBag.employeeRecord.employeename</p>
        <p>@ViewBag.employeeRecord.nric</p>
        <p>@ViewBag.employeeRecord.salary</p>
    </div>
</body>
</html>
